<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="c-content-contact-1 c-opt-1">
                <div class="row" data-auto-height=".c-height">
                    <div class="col-lg-8 col-md-6 c-desktop"></div>
                    <div class="col-lg-4 col-md-6">
                        <div class="c-body">
                            <div class="c-section">
                                <h3>Euro Games Technology Inc.</h3>
                            </div>
                            <div class="c-section">
                                <div class="c-content-label uppercase bg-blue">Address</div>
                                <p>
                                    8A Industrialization Str.,
                                    <br />0180 Tbilisi,
                                    <br />GEORGIA
                                </p>
                            </div>
                            <div class="c-section">
                                <div class="c-content-label uppercase bg-blue">Contacts</div>
                                <p>
                                    <strong>T</strong> +995 322 43 00 12
                                    <br />
                                    <strong>F</strong> +995 595 56 28 74
                                    <br />
                                    <strong>E</strong> denis.karpovich@egt-bg.com
                                </p>

                            </div>
                            <div class="c-section">
                                <div class="c-content-label uppercase bg-blue">Social</div>
                                <br />
                                <ul class="c-content-iconlist-1 ">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="gmapbg" class="c-content-contact-1-gmap" style="height: 615px;"></div>
            </div>
            <div class="c-content-feedback-1 c-option-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-container bg-green">
                            <div class="c-content-title-1 c-inverse">
                                <h3 class="uppercase">გაიგე მეტი</h3>
                                <div class="c-line-left"></div>
                                <p class="c-font-lowercase">ნახეთ ჩვენი FAQs გვერდი</p>
                                <button class="btn grey-cararra font-dark">გაიგე მეტი</button>
                            </div>
                        </div>
                        <div class="c-container bg-grey-steel">
                            <div class="c-content-title-1">
                                <h3 class="uppercase">კითხვა გაქვს?</h3>
                                <div class="c-line-left bg-dark"></div>
                                <form action="#">
                                    <div class="input-group input-group-lg c-square">
                                        <input type="text" class="form-control c-square" placeholder="Ask a question" />
                                        <span class="input-group-btn">
                                            <button class="btn green uppercase" type="button">გაგზავნა!</button>
                                        </span>
                                    </div>
                                </form>
                                <p>Ask your questions away and let our dedicated customer service help you look through our FAQs to get your questions answered!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-contact">
                            <div class="c-content-title-1">
                                <h3 class="uppercase">შემეხმიანე</h3>
                                <div class="c-line-left bg-dark"></div>
                                <p class="c-font-lowercase">
                                    შვილობაში მღვდელს ცრემლ გარშემოვლებული ღმერთისგან, ბოროტმოქმედებისთვის სინგლისელი ჩარჩზე, წაიღე ბუნებრივ მიხსენით არაფერმა
                                </p>
                            </div>
                            <form action="#">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="Enter your name">
                                    <label for="form_control_1">Name</label>
                                    <span class="help-block">Some help goes here...</span>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="Enter your name">
                                    <label for="form_control_1">Email</label>
                                    <span class="help-block">Some help goes here...</span>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="Enter your name">
                                    <label for="form_control_1">Phone</label>
                                    <span class="help-block">Some help goes here...</span>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <textarea class="form-control" rows="8" placeholder="Enter more text"></textarea>
                                    <label for="form_control_1">Textarea input</label>
                                </div>

                                <button type="submit" class="btn green">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>