<nav-menu></nav-menu>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                    <router-outlet></router-outlet>
                    <!-- END CONTENT -->
                </div>
            <!-- END CONTAINER -->
        </div>
    </div>
</div>
<footer></footer>