<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <div class="news-ticker">
                    <span class="module-title">
<!--                       <icon class="fa fa-clock-o"></icon> ბოლო სიახლეები-->
                    </span>
                    <ul class="news-carousel owl-carousel owl-theme">
                        <li class="item">
                            <a href="#"><strong>ყველაფერი მიდის მაგრამ უკანალი რჩება! :)</strong></a>
                        </li>
                        <li class="item">
                            <a href="#"><strong>აშმალახაო ბლიად... :))</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="top-header-icons pull-right">
                    <div id="menu-social">
                        <ul id="menu-social-items" style="display: inline-flex">
                            <li><a routerLink="aboutUs"><span class="arrow">ჩვენს შესახებ</span></a></li>
                            <li><a routerLink="contact"><span class="arrow">კონტაქტი</span></a></li>
                            <li>
                                <a href="https://facebook.com/EuroGamesTechnologyGeorgia" target="_blank">
                                    <span class="screen-reader-text">Facebook</span>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu-collapsed">
    <div class="bar menu-toggler"></div>
    <nav class="new">
        <ul>
            <li><a routerLink="games">თამაშები</a></li>
            <li class="some"><a routerLink="comingsoon">მრავალმომხმარებლიანი</a></li>
            <li><a routerLink="comingsoon">ინტერაქტივი</a></li>
            <li><a routerLink="comingsoon">სისტემები</a></li>
            <li><a routerLink="comingsoon">დახმარება</a></li>
            <li>
                <form class="search-form" action="javascript:;" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ძებნა" name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <!--                                <i class="icon-magnifier"></i>-->
                            </a>
                        </span>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</div>

<div class="page-wrapper-row">
    <div class="page-wrapper-top">
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="index.html">
<!--                            <img src="img/logo.svg" alt="logo" class="logo-default">-->
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <!--<a href="javascript:;" class="menu-toggler"></a>-->
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->

                    <div class="top-menu top-menu1">
                        <div id="banner">
                            <div class="active bannerItem">
                                <span class="banner-header"><i><b>Euro Games Technology</b></i></span>
                                <!--<div class="banner-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, sed consequatur perspiciatis explicabo!
                                </div>-->
                                <a class="btn btn-danger btn-outline btn-primary" href="http://egt-bg.com" target="_blank">დაათვალიერეთ</a>
                            </div>
                        </div>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu" id="pageHeader">
                <div class="container">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <form class="search-form" action="javascript:;" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="ძებნა" name="query">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
<!--                                    <i class="icon-magnifier"></i>-->
                                </a>
                            </span>
                        </div>
                    </form>
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu">
                        <div class="stick-menu-logo hidden-xs hidden-sm" style="margin-right:0px;">
                            <a href="javascript:;">
<!--                                <img src="img/logo_white_small.png" alt="EGT" class="headerLogo"-->
<!--                                     style="display: inline-block; width: 0px;">-->
                            </a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  mega-menu-full active">
                            <li><a routerLink="games">თამაშები</a></li>
                           
                            <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                                <a href="commingsoon">
                                    მრავალმომხმარებლიანი
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                <a href="comingsoon">
                                    ინტერაქტივი
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                <a href="comingsoon">
                                    სისტემები
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                <a href="comingsoon">
                                    დახმარება
                                    <span class="arrow"></span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- END MEGA MENU -->
                </div>
            </div>
            <!--<div class="gamesSubMenu">

                    </div>-->
            <!-- END HEADER MENU -->
        </div>
        <!-- END HEADER -->
    </div>
</div>
