<div id="content" class="site-content">
    <div id="egt-homepage-slider">
        <div id="egt_slider_widget-3" class="egt_slider">
            <section class="primary-slider" role="slider">
                <div class="owl-carousel owl-theme egt-slider">
                    <div class="item">
                        <div class="item-image">
                            <a href="#">
                            </a>
                            <div class="slider-caption">
                                <div class="slide-meta">
                                    <span class="category"><a href="#">Lifestyle</a></span>
                                    <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                </div>

                                <h3 class="entry-title">
                                    <a href="#">Collection.</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-image">
                            <a href="#">
                            </a>
                            <div class="slider-caption">
                                <div class="slide-meta">
                                    <span class="category"><a href="#">Lifestyle</a></span>
                                    <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                </div>

                                <h3 class="entry-title">
                                    <a href="#">Executer.</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-image">
                            <a href="#">
                            </a>
                            <div class="slider-caption">
                                <div class="slide-meta">
                                    <span class="category"><a href="#">Lifestyle</a></span>
                                    <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                </div>

                                <h3 class="entry-title">
                                    <a href="#">Fu.</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-image">
                            <a href="#">
                            </a>
                            <div class="slider-caption">
                                <div class="slide-meta">
                                    <span class="category"><a href="#">Lifestyle</a></span>
                                    <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                </div>

                                <h3 class="entry-title">
                                    <a href="#">Giant.</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-image">
                            <a href="#">
                            </a>
                            <div class="slider-caption">
                                <div class="slide-meta">
                                    <span class="category"><a href="#">Lifestyle</a></span>
                                    <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                </div>

                                <h3 class="entry-title">
                                    <a href="#">Premier.</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="item" id="test">
                        <div class="item-image">
                            <a href="#">
                                <img width="1200" height="600" src="https://preview.ibb.co/moHe0a/colection.png" class="attachment-egt-slider-image size-egt-slider-image" alt="" />
                            </a>
                            <div class="slider-caption">
                                <div class="slide-meta">
                                    <span class="category"><a href="">Lifestyle</a></span>
                                    <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                </div>

                                <h3 class="entry-title">
                                    <a href="#">Collection.</a>
                                </h3>
                            </div>
                        </div> 
                    </div>

                    <div class="item">
                        <div class="item-image">
                            <a href="#">
                            </a>
                            <div class="slider-caption">
                                <div class="slide-meta">
                                    <span class="category"><a href="#">Lifestyle</a></span>
                                    <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                </div>

                                <h3 class="entry-title">
                                    <a href="#">Terminale.</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!-- end article navigation list -->
                </div> <!-- end slider swipe -->
                <div class="owl-nav-list hidden-xs hidden-sm">
                    <h4>Today’s hot topics</h4>
                    <ul>
                        <li class="active">
                            <span>01</span>
                            <a href="#">Collection.</a>
                        </li>
                        <li>
                            <span>02</span>
                            <a href="#">Executer.</a>
                        </li>
                        <li>
                            <span>03</span>
                            <a href="#">Fu</a>
                        </li>
                        <li>
                            <span>04</span>
                            <a href="#">Giant</a>
                        </li>
                        <li>
                            <span>05</span>
                            <a href="#">Premier</a>
                        </li>
                        <li>
                            <span>06</span>
                            <a href="#">Pyramid</a>
                        </li>
                        <li>
                            <span>07</span>
                            <a href="#">Terminale</a>
                        </li>
                    </ul>
                </div>

            </section>
        </div>
    </div>
    <div class="container">
        <div class="egt-news">
            <div class="row">
                <div class="col-md-7">
                    <div class="news">
                        <div class="img" style="float:left;">
                            <img src="http://kingofwallpapers.com/image/image-025.jpg" alt="" style=" width: 200px;height: 20 0px">
                        </div>

                        <div class="text">
                            <p>test </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">

                </div>
            </div>
        </div>
    </div>
</div>
